
@import '../../scss-styling/styleVariables.scss';

#mealPageTitle {
    @include sectionTitle
}

#adminBox {
    border: 1px solid $mainCol;
    padding: 2em;
    width: 80%;
    margin: 1rem auto;
    border-radius: 1em;

    #admin {
        display: flex;
        justify-content: center;
    }
}

#mealPageText {
    width: 90%;
    margin: 1rem auto;
    color: $mainCol;
}


.meals-container {
    width: 70%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;

    .meal {
        box-shadow: 0 0 2px;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 0.3rem;
        display: inline;
        justify-content: center;
        margin: auto;
        text-align: center;
        height: max-content;

        &:hover {
            transform: scale(1.01);
            transition: 0.6s;
        }

        & img {
            width: 20rem;
            height: 15rem;
            margin: auto;
        }
        & button {
            @include buttonOutline;
        }
    }
}
