@import "../../scss-styling/styleVariables.scss";

.registerPage {
  display: flex;
  justify-content: center;
  padding:100px 0px;

  .formContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    // width: 1088px;

    h1 {
      @include sectionTitle;
      padding: 0;

    }

    h2 {
      @include sectionSubTitle;
      padding: 0;
      margin-left: 0;

    }

    form {
      display: flex;

      .inputLeft {
        display: flex;
        flex-direction: column;
        padding: 30px;
        padding-left: 0;
      }

      .inputRight {
        display: flex;
        flex-direction: column;
        padding: 30px;
      }

      input {
        @include standardInput;
      }
      label{
        margin-bottom: 10px;
      }
      button {
        @include buttonFilled;
      }
    }
  }
}
