@import "../../../scss-styling/styleVariables.scss";

.trademarkSection {

    display: flex;
    align-items: center;

    justify-content: center;
    padding-top: 40px;

    img {
        height: 85px;
        padding: 0px 20px;
    }
}