@import '../../../scss-styling/styleVariables.scss';

.footer {
  width: 100vw;
  display: flex;
    align-items: center;
    color: $mainCol;
    justify-content: space-around;
    border-top:1px solid $mainCol;
    height: 70px;
    padding: 50px 0;

    .getInTouch{
      margin-bottom: 20px;
    }
   
    .footerCenterContainer{
svg{
  @include socialMediaIcons;
}
    }

      }
