@import '../../../scss-styling/styleVariables.scss';


.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: $secondaryCol;

  .navbarItemsWrapper {

    @include navBarFooterDisplay;
    width: 95%;
    background-color: $secondaryCol;
    z-index: 2;
    

  }


  .logoWrapper {
    display: flex;
    align-items: center;
    width: clamp(100px, 10vw, 500px);


    .logoImg {
      width: clamp(30px, 10vw, 60px);
      height: clamp(30px, 10vw, 60px);
      background-image: url('../../../assets/logo.jpg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    h1 {
      color: $mainCol;
      font-size: clamp(10px, 10vw, 25px);
      padding-left: clamp(5px, 10vw, 10px);
      padding-top: clamp(5px, 10vw, 10px);

    }
  }

  // group of links in the middle
  .navLinks {
    display: flex;

    @media (min-width: 481px) and (max-width: 768px) {
      flex-direction: column;
      display: none;
    }

    li {
      @include liStyling;
    }

  }

  //  register & login buttons

  .buttonWrapper {
    @media (min-width: 481px) and (max-width: 768px) {
      display: none;
    }

    .logInButton {
      @include buttonOutline;
    }

    .regButton {
      @include buttonFilled;
      margin-left: 20px;
    }
  }



  .hamburgerMenu {

    #hamburger-input{
      width: 50px;
      height: 50px;
      position: fixed;
    }

    #hamburger-input:checked{
      width: 600px;}

    @media (max-width: 768px) {
      width: 50px;
      height: 50px;
      background-color: rgb(255, 42, 0);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: auto;

      .bar{
        height: 3px;
        width: 100%;
        background-color: black;
        margin:2px
      }

    }


  }



}