@import '../../../scss-styling/styleVariables.scss';



.mainVisual{
display: flex;
flex-direction: column; 
background-image:url(../../../assets/mainVisual.jpg);
background-size: cover;
justify-content: center;
align-items: center;
padding-top: 300px;
padding-bottom: 100px;
z-index: -1;


h1,h2{
opacity: 90%;
}

h1{
    @include mainTitle;
}
h2{
    @include mainTitleAccent;
    margin-bottom: 40px
}

button{
    @include buttonFilled;
}

}