@import '../../../scss-variables/styleVariables.scss';

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  color: $mainCol;
  justify-content: space-around;
  margin: 0 auto;

  .logoAndTitle {
    font-size: 0.7rem;
    display: flex;
    align-items: center;

    .logoImg {
      width: 50px;
      margin: -7px 10px 0 0px;
    }
  }

  .ulNav {
    display: flex;
    padding-right: 20rem;

    li {
      margin: 20px;
      list-style: none;
    }
  }

  .navButtons {
    display: flex;

    .logInButton {
      @include buttonOutline;
      margin-right: 20px;
    }

    .regButton {
    @include buttonFilled;
    }

  }

}