@import "../../scss-styling/styleVariables.scss";

.loginPage {
  @include pageSectionSizeAndDisplay;
  flex-direction: column;
  .formWrapper{
    width: 500px;
    margin: 100px auto;
  
    padding: 40px 80px;
    border-radius: 30px;
    box-shadow:
    12px 12px 44px #dbdbdb81;


  h1 {
    @include sectionTitle;
    color: $mainCol;
  }
  form {
    .loginFormInput {
      margin-bottom: 10px;
      .emailFormSection,
      .passwordlFormSection {
        display: flex;
        flex-direction: column;
        input {
          @include standardInput;
        }
      }
    }
  }

  button {
    @include buttonFilled;
  }


}
.loginParagraph{
  @include paragraphStyle;
  margin: 50px 10px;
  
span{
  @include paragraphAccentStyle;
}

}
}
