@import "../../scss-styling/styleVariables.scss";

.loginPage {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 100px 0;


  .formWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: 2px solid $mainCol;
    box-shadow:
      12px 12px 44px #dbdbdb16;
    padding: 50px;

    h1 {
      @include sectionSubTitle;
      color: $mainCol;
    }

    form {
      .loginFormInput {

        .emailFormSection,
        .passwordlFormSection {
          display: flex;
          flex-direction: column;

          input {
            @include standardInput;
          }
        }
      }
    }

    button {
      @include buttonFilled;
    }


  }

  .loginParagraph {
    @include paragraphStyle;
    margin: 50px 10px;

    span {
      @include paragraphAccentStyle;
    }

  }
}

.registerLink {
@include paragraphAccentStyle}