@import '../../scss-styling/styleVariables.scss';

.loginPage {
    @include pageSectionSizeAndDisplay;


    .loginSectionDiv {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 70vh;
        justify-content: center;
        align-items: flex-start;
        padding: 50px;


        h1 {
            @include sectionTitle;
        }

        form {

            @include flexColumn;
            input{
                margin-bottom: 10px;
                @include standardInput

            }
   

        }
        button {
            @include buttonFilled;
        }
    }

    .notRegisteredSection {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 70vh;
        background-color:$mainCol;
        justify-content: center;
        align-items: flex-start;
        padding: 50px;



        h2 {
            @include sectionTitle;
            color: $secondaryCol;
        }

        p{color:$secondaryCol;
        
            span{
                font-weight: bold;
            }
        }

       
            button {
                @include buttonFilled;
                background-color: $secondaryCol;
                color: $mainCol;
            }

        

    }


}