@import '../../../scss-styling/styleVariables.scss';

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $secondaryCol;

  .nav-logo {
    font-size: 21px;
    margin: 15px;
    color: $secondaryCol;
    display: flex;
    align-items: center;
    margin-left: 2%;

    .logoImg {
      width: clamp(30px, 10vw, 60px);
      height: clamp(30px, 10vw, 60px);
      background-image: url('../../../assets/logo.jpg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    h1 {
      color: $mainCol;
      font-size: clamp(8px, 10vw, 23px);
      padding-left: clamp(5px, 10vw, 10px);

    }

  }

  .nav-items.false {
    display: flex;

    .linkWrapper {
      display: flex;
      width: 60%;
      gap: 4%;
      justify-content: center;

    }

    a {
      color: $mainCol;
      font-size: clamp(12px, 10vw, 20px);

    }

    .buttonWrapper {
      .logInButton {
        @include buttonFilled;
      }

      .regButton {
        @include buttonOutline;
        margin: 0 3vw 0 1vw;
      }

    }
  }

  .showUserIcon {
    display: flex;
    height: auto;
    margin-right: 40px;
    align-items: center;
    gap: 15px;

    svg {
      color: $mainCol;
    }
  }

}










@media (max-width: 700px) {
  .Navbar {

    .nav-items {
      position: fixed;
      top: 60px;
      display: flex;
      flex-direction: column;
      background: $mainCol;
      right: 0;
      width: 50vw;
      height: 100vh;
      transform: translateX(200%);
      transition: all .5s;
      z-index: 1;


    }

    .nav-items.open {
      transform: translateX(0);
      background-color: aqua;
    }
  }



  .Navbar>.nav-toggle {
    display: none;
  }


  //this is the little x area on the top right
  .Navbar>.nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-toggle>.bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: $mainCol;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle>.bar::before,
  .nav-toggle>.bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: $mainCol;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle>.bar::before {
    width: 32px;
    transform: translateY(-8px);
    right: 0;
    background: $mainCol;
  }

  .nav-toggle>.bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  // ------ animation
  .nav-toggle.open>.bar {
    transform: translateX(-40px);
    background: transparent;
  }

  .nav-toggle.open>.bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open>.bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }


}

.nav-items.false {
  display: flex;
  align-items: center;
  background-color: white;
  width: 90%;
  justify-content: space-between;


}

.hide {
  display: none;
}
