* {
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.Navbar .nav-logo {
  font-size: 21px;
  margin: 15px;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 2%;
}
.Navbar .nav-logo .logoImg {
  width: clamp(30px, 10vw, 60px);
  height: clamp(30px, 10vw, 60px);
  background-image: url("../../../assets/logo.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.Navbar .nav-logo h1 {
  color: #91c88a;
  font-size: clamp(8px, 10vw, 23px);
  padding-left: clamp(5px, 10vw, 10px);
}
.Navbar .nav-items.false {
  display: flex;
}
.Navbar .nav-items.false .linkWrapper {
  display: flex;
  width: 60%;
  gap: 4%;
  justify-content: center;
}
.Navbar .nav-items.false a {
  color: #91c88a;
  font-size: clamp(12px, 10vw, 20px);
}
.Navbar .nav-items.false .buttonWrapper .logInButton {
  width: 130px;
  height: 35px;
  border-radius: 7px;
  background-color: #91c88a;
  border: none;
  color: white;
}
.Navbar .nav-items.false .buttonWrapper .logInButton a {
  color: white;
  text-decoration: none;
}
.Navbar .nav-items.false .buttonWrapper .regButton {
  width: 130px;
  height: 35px;
  border-radius: 7px;
  color: #91c88a;
  background-color: transparent;
  border: 2px solid #91c88a;
  margin: 0 3vw 0 1vw;
}
.Navbar .nav-items.false .buttonWrapper .regButton a {
  color: #91c88a;
  text-decoration: none;
}
.Navbar .showUserIcon {
  display: flex;
  height: auto;
  margin-right: 40px;
  align-items: center;
  gap: 15px;
}
.Navbar .showUserIcon svg {
  color: #91c88a;
}

@media (max-width: 700px) {
  .Navbar .nav-items {
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: #91c88a;
    right: 0;
    width: 50vw;
    height: 100vh;
    transform: translateX(200%);
    transition: all 0.5s;
    z-index: 1;
  }
  .Navbar .nav-items.open {
    transform: translateX(0);
    background-color: aqua;
  }
  .Navbar > .nav-toggle {
    display: none;
  }
  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #91c88a;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before,
.nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #91c88a;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before {
    width: 32px;
    transform: translateY(-8px);
    right: 0;
    background: #91c88a;
  }
  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }
  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }
  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }
  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}
.nav-items.false {
  display: flex;
  align-items: center;
  background-color: white;
  width: 90%;
  justify-content: space-between;
}

.hide {
  display: none;
}/*# sourceMappingURL=navTestStyle.css.map */