@import "../../../scss-styling/styleVariables.scss";

.mostPopularDishesSection {
  display: flex;
  flex-direction: column;
  margin: 0 30px;

  h2 {
    @include sectionTitle;
    padding: 10px;
    
    @media (max-width: 700px) {
      font-size: 44px;        }
    

  }

  .cardsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }

    .card {
      padding: 20px;
      max-width: 400px;

      .cardImg {
        @include cardImg;
        background-color: aqua;
     
      }


      h3 {
        @include sectionSubTitle;
        margin-top: 10px;
      }

      p {
        @include paragraphStyle;
        min-width: 200px;

      }

      button {
        @include buttonOutline;
        min-width: 100px;
        cursor: pointer; 
      }
    }
  }
}
