@import '../../../scss-styling/styleVariables.scss';

.mostPopularDishesSection {
    background-color: pink;
    display: flex;
    flex-direction: column;
    padding: 0 30px;

    h2 {
        @include sectionTitle
    }

    .cardsContainer {
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: yellow;

        @media (max-width:650px) {
            flex-direction: column;
            align-items: center;
        }

        .card {
            @include cardInnerLayout;
            padding: 20px;
            border: 2px solid;
            max-width: 400px;

            .cardImg {
                @include cardImg;
                background-color: aqua;
            }


            .cardImg1 {
                background-image: url(../../../assets/dish1.jpg);
            }

            .cardImg2 {
                background-image: url(../../../assets/dish2.jpg);
            }

            .cardImg3 {
                background-image: url(../../../assets/dish3.jpg);
            }

            h3{
            }
        }

    }
}


// .mostPopularDishesSection {
//    flex-direction: column;

//     h2 {
//         @include sectionTitle
//     }

//     .cardsContainer {
//         display: flex;
//         justify-content: space-between;
//         align-content: space-between;

//         .card {
//             @include cardInnerLayout;

//             .cardImg {
//                 @include cardImg;
//             }

//             .cardImg1 {
//                 background-image: url(../../../assets/dish1.jpg);
//             }

//             .cardImg2 {
//                 background-image: url(../../../assets/dish2.jpg);
//             }

//             .cardImg3 {
//                 background-image: url(../../../assets/dish3.jpg);
//             }

//         }

//         h3 {
//             @include sectionSubTitle
//         }

//         p {
//             @include paragraphStyle
//         }


//         button{
//             @include buttonOutline
//         }

//     }

// }