body{
    margin-left: 10px;
}

.deleteCartItems{
   display: flex;
   flex-flow: row nowrap; 
   align-items: space-between;
}
.cartButtons{
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 3px;
}
.cartButtonsDelete{
color: red;
margin-left: 1.5rem;
padding:0px 15px;
border-radius: 50%;
}

.deleteOrderedMeal{
    cursor: pointer;
}

.ordered-meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ordered-meals-container {
    width: 90%;
    margin: auto;
}