@import '../../scss-styling/styleVariables.scss';

body{
    margin-left: 10px;
}

.deleteCartItems{
   display: flex;
   flex-flow: row nowrap; 
   align-items: space-between;
}
.cartButtons{
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 3px;
}
.cartButtonsDelete{
color: red;
margin-left: 1.5rem;
padding:0px 15px;
border-radius: 50%;
}

.deleteOrderedMeal{
    cursor: pointer;
}

.ordered-meals {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.ordered-meals-container {
    width: 90%;
    margin: auto;
}

.add-reduce-quantity-container {
    display: flex;
    height: 2rem;

    & input {
        padding: 0.4rem;
        width: 4rem;
        font-size: 1.4rem;
        text-align: center;
    }

    & button {
        @include buttonFilled;
        cursor: pointer;
    }

    

}

.yourChoices{ 
    @include sectionSubTitle;
color:$mainCol ;}

.deliveryAddress{ 
@include sectionSubTitle;
}

input{
height: 15px;
width: 15px;
margin: 5px;
background-color: $mainCol;
cursor: pointer;
border: 2px solid $mainCol;}

.checkoutButton{
    @include buttonOutline;
    width: 140px;
margin-bottom: 40px;
}
