$mainCol: #91c88a;
$mainColLighter: #91c88a73;
$buttonOutlineHover: #91c88a15;
$buttonFilledHover: #a9d3a4;

$secondaryCol: white;
$tertiaryCol: black;
$secondaryColTransparency: rgba(255, 255, 255, 0.38);

* {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
    }
}

//------- Buttons -------
@mixin buttonStyle {
    width: clamp(12px, 10vw, 95px);
    height: 35px;
    border-radius: 7px;
    min-width: 100px;
}

@mixin buttonFilled {
    @include buttonStyle;
    background-color: $mainCol;
    border: none;
    color: $secondaryCol;
    cursor: pointer;

    a {
        color: $secondaryCol;
        text-decoration: none;
    }

    &:hover {
        transform: scale(1.01);
        background-color: $buttonFilledHover;
    }
}

@mixin buttonOutline {
    @include buttonStyle;
    color: $mainCol;
    background-color: transparent;
    border: 2px solid $mainCol;
    cursor: pointer;

    a {
        color: $mainCol;
        text-decoration: none;
    }

    &:hover {
        transform: scale(1.01);
        background-color: $buttonOutlineHover;
    }
}

@mixin buttonFilleSecondCol {
    height: 35px;
    border-radius: 7px;
    background-color: $secondaryCol;
    border: none;
    color: $mainCol;

    a {
        color: $secondaryCol;
        text-decoration: none;
    }

    &:hover {
        transform: scale(1.01);
        background-color: $buttonOutlineHover;
    }
}

@mixin buttonAdmin {
    @include buttonOutline;
    width: 17%;
    margin: 1rem auto;
}

// ------- input flieds -------

@mixin standardInput {
    width: 470px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 2px solid $mainCol;
    padding-left: 10px;

    @media (min-width: 481px) and (max-width: 768px) {
        // background-color: aqua;
        width: 300px;
    }
}

//------- typography -------

@mixin mainTitle {
    font-size: clamp(1rem, 10vw, 6rem);
    color: $secondaryCol;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.91;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.742);
    opacity: 90%;
    font-weight: 900;
}

@mixin sectionTitle {
    font-size: clamp(4px, 10vw, 60px);
    color: $tertiaryCol;
    font-weight: 250;
    text-align: center;
}

@mixin sectionSubTitle {
    font-size: clamp(12px, 10vw, 22px);
    color: $tertiaryCol;
    font-weight: 500;
    padding: 0px 0 10px 0;
}

@mixin paragraphStyle {

    font-size: clamp(4px, 10vw, 17px);
    color: $tertiaryCol;
    margin-bottom: 20px;
}

@mixin paragraphAccentStyle {

    font-weight: bold;
    color: $mainCol;

    a {
        color: $mainCol;
        text-decoration: none;
    }
}

//------- Layout & Cards -------

@mixin cardInnerLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@mixin navBarFooterDisplay {
    display: flex;
    align-items: center;
    color: $mainCol;
    justify-content: space-between;
}

@mixin cardImg {
    aspect-ratio: 16 /10;
    max-width: 400px;
    max-height: 280px;
    background-size: cover;
    background-position: center;
}

@mixin pageSectionSizeAndDisplay {
    display: flex;
    width: 1450px;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 20px;
    background-color: none;

    @media (min-width: 481px) and (max-width: 768px) {
        // background-color: aqua;
        width: 90vw;
    }
}

@mixin formSizeAndDisplay {
    width: 600px;
    height: 1000px;
    display: flex;
    border-radius: 20px;
    margin: 0 auto;
    flex-direction: column;
    padding: 40px;
}

// icons

@mixin socialMediaIcons {
    font-size: 40px;
    margin: 0 10px;

    @media (min-width: 481px) and (max-width: 768px) {
        font-size: 30px;
        margin: 0 5px;
    }
}

// ---- lists

@mixin liStyling {
    margin: 0 15px;
    list-style-type: none;
    color: $mainCol;
    font-size: clamp(12px, 10vw, 18px);
}