$mainCol: #91c88a;
$secondaryCol: white;
$tertiaryCol: black;

* {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
    }
}

//------- Buttons -------
@mixin buttonStyle {
    width: clamp(0px, 10vw, 130px);
    height: 35px;
    border-radius: 7px;
}

@mixin buttonFilled {
    @include buttonStyle;
    background-color: $mainCol;
    border: none;
    color: $secondaryCol;

    a {
        color: $secondaryCol;
        text-decoration: none;
    }
}

@mixin buttonOutline {
    @include buttonStyle;
    color: $mainCol;
    background-color: transparent;
    border: 2px solid $mainCol;

    a {
        color: $mainCol;
        text-decoration: none;
    }
}

// ------- input flieds -------

@mixin standardInput {
    width: 470px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 2px solid $mainCol;
    padding-left: 10px;

    @media (min-width: 481px) and (max-width: 768px) {
        background-color: aqua;
        width: 300px;
    }

}




//------- typography -------

@mixin mainTitle {
    font-size: clamp(1rem, 10vw, 6rem); 
    font-weight: bold;
    color: $secondaryCol;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.9;
}

@mixin mainTitleAccent {
    @include mainTitle;
}

@mixin sectionTitle {
    font-size: 48px;
    color: $tertiaryCol;
    font-weight: 250;
    padding: 40px 0;
}

@mixin sectionSubTitle {
    font-size: 22px;
    color: $tertiaryCol;
    font-weight: 500;
    padding: 20px 0 10px 0;
}

@mixin paragraphStyle {

    font-size: 17px;
    color: $tertiaryCol;
    text-align: justify;
    margin-bottom: 20px;
}

@mixin paragraphAccentStyle {

    font-weight: bold;
    color: $mainCol;

    a {
        color: $mainCol;
        text-decoration: none;
    }
}


//------- Layout & Cards -------

@mixin cardInnerLayout {
    width: 400px;
    display: flex;
    flex-direction: column;
}

@mixin navBarFooterDisplay {
  display: flex;
  align-items: center;
  color: $mainCol;
  justify-content: space-between;

}

@mixin cardImg {
    width: 400px;
    height: 280px;
    background-size: cover;
    background-position: center;
}

@mixin pageSectionSizeAndDisplay {
    display: flex;
    width: 1450px;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 20px;
    background-color: none;

    @media (min-width: 481px) and (max-width: 768px) {
        background-color: aqua;
        width: 90vw;
    }
}



@mixin formSizeAndDisplay {
    width: 600px;
    height: 1000px;
    display: flex;
    border-radius: 20px;
    margin: 0 auto;
    flex-direction: column;
    padding: 40px;
}

// icons

@mixin socialMediaIcons {
    font-size: 40px;
    margin: 0 10px;

    @media (min-width: 481px) and (max-width: 768px) {
        font-size: 30px;
        margin: 0 5px;


    }

}

// ---- lists

@mixin liStyling {
    margin: 0 15px;
    list-style-type: none;
    color: $mainCol;
    font-size: clamp(12px, 10vw, 18px);

}

